
{% extends "layout.html" %}

{% block body %}
    <!-- <video src="img/video.mp4" id="vidFondo"></video> -->
    <div class="contenedor">
        <div class="card rowTitulo">
            <h1>Bienes Intelcost</h1>
        </div>
        <div class="colFiltros">
            <form action="#" method="post" id="formulario">
                <div class="filtrosContenido">
                    <div class="tituloFiltros">
                        <h5>Filtros</h5>
                    </div>
                    <div class="filtroCiudad input-field">
                        <p><label for="selectCiudad">Ciudad:</label><br></p>
                        <select name="ciudad" id="selectCiudad" required>
                            <option value="" selected>Elige una ciudad</option>
                            {% for city in cities %}
                            <option value="{{city}}">{{city}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="filtroTipo input-field">
                        <p><label for="selecTipo">Tipo:</label></p>
                        <br>
                        <select name="tipo" id="selectTipo" required>
                            <option value="">Elige un tipo</option>
                            {% for type in types %}
                            <option value="{{type}}">{{type}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="filtroPrecio">
                        <label for="rangoPrecio">Precio:</label>
                        <input type="text" id="rangoPrecio" name="precio" value=""/>
                    </div>
                    <div class="botonField">
                        <input type="button" class="btn white" value="Buscar" id="submitButton">
                    </div>
                </div>
            </form>
        </div>
        <div id="tabs" style="width: 75%;">
            <ul>
                <li><a href="#tabs-1">Bienes disponibles</a></li>
                <li><a href="#tabs-2">Mis bienes</a></li>
                <li><a href="#tabs-3">Reportes</a></li>
            </ul>
            <div id="tabs-1">
                <div class="colContenido" id="divResultadosBusqueda">
                    <div class="tituloContenido card" style="justify-content: center;">
                        <h5>Resultados de la búsqueda: <span id="length_results">
                            {{total_real_states}}
                        </span></h5>
                        <div class="divider"></div>
                        <div id="div_results_search">
                            {% for real in real_states %}
                                <div class="div_resultado">
                                    <div class="div_resultado_img">
                                        <img width="100%" src="img/home.jpg" alt="Result">
                                    </div>
                                    <div class="div_resultado_informacion">
                                        <ul>
                                            <li>Dirección: <span>{{real.Direccion}}</span></li>
                                            <li>Ciudad: <span>{{real.Ciudad}}</span></li>
                                            <li>Teléfono: <span>{{real.Telefono}}</span></li>
                                            <li>Código Postal: <span>{{real.Codigo_Postal}}</span></li>
                                            <li>Tipo: <span>{{real.Tipo}}</span></li>
                                            <li>Precio: <span>{{real.Precio}}</span></li>
                                        </ul>
                                    </div>
                                </div>
                            {% endfor%}
                        </div>
                    </div>
                </div>
            </div>
            <div id="tabs-2">
                <div class="colContenido" id="divResultadosBusqueda">
                    <div class="tituloContenido card" style="justify-content: center;">
                        <h5>Bienes guardados: <span id="length_bienes"></span></h5>
                        <div class="divider"></div>
                        <div id="divBienes"></div>
                    </div>
                </div>
            </div>
            <div id="tabs-3">
                <div class="colContenido" id="divReportes">
                    <div class="tituloContenido card" style="justify-content: center;">
                        <h5>Exportar reporte:</h5>
                        <div class="divider"></div>

                        <div class="containerReporte">
                            <div class="tituloFiltros">
                                <h5>Filtros</h5>
                            </div>

                            <form action="php/reporte.php" method="post">
                                <div class="filtroCiudad input-field">
                                    <p><label for="selectCiudadReporte">Ciudad:</label><br></p>
                                    <select name="ciudad" id="selectCiudadReporte" required>
                                        <option value="" selected>Elige una ciudad</option>
                                        {% for city in cities %}
                                        <option value="{{city}}">{{city}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <br>
                                <div class="filtroTipo input-field">
                                    <p><label for="selectTipoReporte">Tipo:</label><br></p>
                                    <select name="tipo" id="selectTipoReporte" required>
                                        {% for type in types %}
                                        <option value="{{type}}">{{type}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="botonField">
                                    <input type="submit" class="btn white" value="GENERAR EXCEL">
                                </div>
                            </form>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
